.*
!.gitignore
!token
main_module.tf
terraform.tfvars
provider.tf
variables.tf
terraform.lock.hcl
**/.terraform/*
.DS_Store
Thumbs.db
requirements.txt
build.zip
**/__pycache__/*
python.zip
**/layers/*
